// colors
$cd-color-1: hsl(206, 21%, 24%);
$cd-color-2: hsl(205, 38%, 89%);
$cd-color-3: hsl(207, 10%, 55%);
$cd-color-4: hsl(111, 51%, 60%);
$cd-color-5: hsl(356, 53%, 49%);
$cd-color-6: hsl(47, 85%, 61%);

// header
$cd-header-height: 200px;

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin triangle($direction: up, $width: 12px, $color: red) {
  width: 0;
  height: 0;
  border: $width solid transparent;

  @if ($direction == left) {
    border-right-color: $color;
  } @else if($direction == right) {
    border-left-color: $color;
  } @else if($direction == down) {
    border-top-color: $color;
  } @else {
    border-bottom-color: $color;
  }
}

@include breakpoint(md) {
  $cd-header-height: 300px;
}

.cd-main-header {
  height: $cd-header-height;
  background: $cd-color-1;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1 {
    color: inherit;
  }
}

.cd-timeline {
  overflow: hidden;
  padding: 2em 0;
  color: $cd-color-3;
  background-color: lightness($cd-color-2, 1.05);

  h2 {
    font-weight: 700;
  }
}

.cd-timeline__container {
  position: relative;
  padding: 1.25em 0;

  &::before {
    // this is the timeline vertical line
    content: "";
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: $cd-color-2;
  }

  @include breakpoint(md) {
    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.cd-timeline__block {
  display: flex;
  position: relative;
  z-index: 1; // make sure content is above the timeline vertical line
  margin-bottom: 2em;

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint(md) {
    &:nth-child(even) {
      flex-direction: row-reverse; // for even blocks -> lay out content from right to left
    }
  }
}

.cd-timeline__img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(#000, 0.08),
    0 3px 0 4px rgba(#000, 0.05);

  img {
    width: 24px;
    height: 24px;
  }

  @include breakpoint(md) {
    width: 60px;
    height: 60px;
    order: 1; // flex order -> place the image after cd-timeline__content
    margin-left: calc(5% - 30px);
    will-change: transform;

    .cd-timeline__block:nth-child(even) & {
      margin-right: calc(5% - 30px);
    }
  }
}

.cd-timeline__img--picture {
  background-color: $cd-color-4;
}

.cd-timeline__img--movie {
  background-color: $cd-color-5;
}

.cd-timeline__img--location {
  background-color: $cd-color-6;
}

.cd-timeline__content {
  flex-grow: 1; // expand element so that it takes up all the available space inside its parent
  position: relative;
  margin-left: 1.25em;
  background: #fff;
  border-radius: 0.25em;
  padding: 1.25em;
  box-shadow: 0 3px 0 $cd-color-2;

  &::before {
    // triangle next to content block
    content: "";
    position: absolute;
    top: 16px;
    right: 100%;
    @include triangle(left, 7px, #fff);
  }

  h2 {
    color: $cd-color-1;
  }

  @include breakpoint(md) {
    width: 45%;
    flex-grow: 0; // prevent element from growing inside its parent
    will-change: transform;
    margin: 0;
    font-size: 0.8em;
    --line-height-multiplier: 1.2;

    &::before {
      // triangle
      top: 24px;
    }

    .cd-timeline__block:nth-child(odd) &::before {
      // change triangle direction
      right: auto;
      left: 100%;
      @include triangle(right, 7px, #fff);
    }
  }
}

.cd-timeline__date {
  color: alpha($cd-color-3, 0.7);

  @include breakpoint(md) {
    position: absolute;
    width: 100%;
    left: 120%;
    top: 20px;

    .cd-timeline__block:nth-child(even) & {
      left: auto;
      right: 120%;
      text-align: right;
    }
  }
}
