<section class="study tesla">
  <nav class="navbar">
    <div class="brand">Ankit Karnany</div>
    <div class="toggle">
      <i class="fas fa-bars"></i>
    </div>
    <div class="nav-item">
      <div class="tab"><a href="#">Tesla</a></div>
      <div class="tab"><a href="#">Local Cook</a></div>
      <div class="tab"><a href="#">Project</a></div>
    </div>
  </nav>
  <div class="study-content">
      <span class="pin top left"></span>
      <span class="pin top right"></span>
      <span class="pin bottom left"></span>
      <span class="pin bottom right"></span>
      <div class="study-content--inner">
          <div class="hero">
              <h1>Outrun Mode</h1>
          </div>
      </div>
  </div>
</section>
