body {
    height: 100vh;
    overflow: hidden;
    font-family: Lato-Reg;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;

    &:visited {
        color: #000;
    }
}

.main-container {
    flex: 1;
    display: flex;

    .aside {
        flex: 0 0 400px;
        position: relative;
        background-image: url('../assets/bg-white-texture.png');

        &__header {
            padding: 20px;
            background: radial-gradient(black 15%, transparent 16%) 0 0,
                        radial-gradient(black 15%, transparent 16%) 8px 8px,
                        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
                        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
                        background-color: alpha($black, 1);
                        background-size: 16px 16px;
            height: 200px;
            display: flex;
            align-items: center;

            h1 {
                font-family: Mont-Reg;
                color: rgba(255, 255, 255, 0.5);
                white-space: nowrap;
                margin: 0 auto;
                letter-spacing: .15em;
                display: flex;
                font-size: 2.5em;

                .firstname {
                    overflow: hidden;
                    display: inline-block;
                    width: 14px;
                    transition: width 1s ease;
                }
            }

            &:hover h1 .firstname {
                width: 140px;
            }
        }

        &__container {
            display: flex;
            flex-direction: column;

            a {
                width: 100%;
                padding: 20px;
                text-align: center;
                cursor: pointer;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                background-color: transparent;
                position: relative;
                color:  alpha($black, 0.6);

                span.line {
                    width: 0;
                    height: 2px;
                    background-color: alpha($black, 0.6);
                    margin-right: 10px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    transform: scaleX(0);
                    transform-origin: 0 50%;
                    transition-property: transform;
                    transition-duration: 0.6s;
                    transition-timing-function: ease-out;
                }

                &.active--yellow {
                    background-color: alpha($mustard, 0.3);

                    &:before {
                        background-color: alpha($mustard, 0.3);
                    }
                }

                &.active--red {
                    background-color: alpha($red, 0.3);

                    &:before {
                        background-color: alpha($red, 0.3);
                    }
                }

                &.active--blue {
                    background-color: alpha($blue, 0.3);

                    &:before {
                        background-color: alpha($blue, 0.3);
                    }
                }

                &.active {
                    pointer-events: none;
                    color:  alpha($black, 1);

                    &:before {
                        transform: scaleX(1);
                    }
                }
            }
        }

        &__footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 50px;
            text-align: center;
            color: #aeaeae;
        }
    }

    .main-section {
        flex: 1;
        background-color: alpha($mustard, 1);
        position: relative;

        .aside-toggle {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 88px;
            left: 30px;
            cursor: pointer;

            .bar {
                display: inline-block;
                width: 26px;
                height: 4px;
                background-color: alpha(#ffffff, 0.5);
                margin-bottom: 3px;
            }
        }

        .main-content {
            margin: 150px 30px 50px 30px;
        }

        .main-footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 50px;
            text-align: center;
            color: #aeaeae;
            padding: 0 30px;

            .social-media {
                display: flex;
                justify-content: flex-end;

                li {
                    padding-left: 30px;

                    a {
                        color: rgba(255, 255, 255, 0.75);
                    }
                }
            }
        }
    }
}

.chat {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    width: 75%;
    margin: 0 auto;
    font-family: Mont-Reg;

    .persona {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
        background-image: url('../assets/boy.svg');
        background-size: cover;
    }

    .bubble {
        align-self: flex-start;
        color: #777;
        padding: 0.8em 0.6em;
        max-width: 60%;
        border-radius: 0.5em;
        background-color: #fff;
        margin-bottom: 20px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        border-top-left-radius: 0.1em;
        transform-origin: bottom;
        transform: skewX(0);
    }    
}
