body {
    height: 100vh;
    overflow: hidden;
    font-family: Lato-Reg;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;

    &:visited {
        color: #000;
    }
}

.main-container {
    flex: 1;
    display: flex;

    .main-section {
        flex: 1;
        background-color: alpha($red, 1);
        position: relative;
        display: flex;
        flex-direction: column;

        .aside-toggle {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 40px;
            left: 40px;
            cursor: pointer;

            .bar {
                display: inline-block;
                width: 30px;
                height: 2px;
                background-color: alpha(#3c3d47, 0.5);
                margin-bottom: 4px;

                &-middle {
                    width: 20px;
                }
            }
        }

        .main-content {
            margin: 150px 30px 50px 30px;
            flex: 1;
        }

        .main-menu {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: transparent;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            will-change: transform;
            display: none;

            .circle {
                border-radius: 50%;
                width: 120vmin;
                height: 120vmin;
                position: absolute;
                overflow: hidden;
                will-change: transform;
            }

            .content {
                width: 100%;
                height: 100%;
                will-change: background-color;
            }

            &.active {
                display: flex;
                transform: translateY(0%);
                animation: SlideUp 2s cubic-bezier(0.4, 0, 0.2, 1);

                .circle {
                    transform: scale(2);
                    animation: Pulsating 2s cubic-bezier(0.4, 0, 0.2, 1);
                }

                .content {
                    background-color: alpha(#f9d5bb, 1);
                    animation: ColorChange 1s cubic-bezier(0.4, 0, 0.2, 1);
                }

                .links {
                    display: flex;
                    animation: visibility 1s cubic-bezier(0.4, 0, 0.2, 1);
                }

                .main-footer {
                    display: flex;
                    animation: visibility 1s cubic-bezier(0.4, 0, 0.2, 1);
                }
            }

            @keyframes SlideUp {
                0% {
                    transform: translateY(50%);
                }

                25% {
                    transform: translateY(0%);
                }

                100% {
                    transform: translateY(0%);
                }
            }

            @keyframes Pulsating {
                0% {
                    transform: scale(0.08);
                }

                100% {
                    transform: scale(2);
                }
            }

            @keyframes ColorChange {
                0% {
                    background-color: alpha(#f9d5bb, 0.2);
                }

                100% {
                    background-color: alpha(#f9d5bb, 1);
                }
            }

            .links {
                font-size: 2.5em;
                display: flex;
                align-items: center;
                flex-direction: column;
                z-index: 1;
                display: none;

                & > li {
                    cursor: pointer;
                    color: alpha(#d35656, 0.5);
                    transition: color 0.3s ease, transform 0.3s ease;

                    &:hover {
                        color: alpha(#d35656, 1);
                        transform: scale(1.5);
                    }
                }
            }

            .main-footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 50px;
                text-align: center;
                color: #aeaeae;
                padding: 0 30px;
                display: none;
                z-index: 1;
                justify-content: flex-end;

                .social-media {
                    display: flex;
                    justify-content: flex-end;

                    li {
                        padding-left: 30px;

                        a {
                            color: rgba(60, 61, 71, 0.75);
                            position: relative;

                            &:before {
                                content: '';
                                position: absolute;
                                bottom: -5px;
                                left: 0;
                                width: 0;
                                height: 2px;
                                background-color: rgba(60, 61, 71, 1);
                                transition: width 0.3s ease-in-out, background-color 0.6s ease;
                            }
                        }

                        &:hover a:before {
                            width: 100%;
                            background-color: rgba(60, 61, 71, 0.75);
                        }
                    }
                }
            }
        }
    }
}

@keyframes visibility {
    from {
        opacity: 0;
    }

    to {
        display: flex;
        opacity: 1;
    }
}

.chat {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    width: 75%;
    margin: 0 auto;
    font-family: Mont-Reg;

    .persona {
        width: 80px;
        height: 80px;
        background-color: rgb(75, 142, 141);
        border-radius: 1em;
        border-bottom-right-radius: 0.2em;
        margin-bottom: 20px;
        position: relative;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

        &:before, &:after {
            content: '';
            position: absolute;
            top: 25%;
            width: 12px;
            height: 20px;
            border-radius: 50%;
            background-color: rgb(60, 61, 71);
        }

        &:before {
            left: 25%;
        }

        &:after {
            left: 60%;
        }

        .mouth {
            position: absolute;
            bottom: 20%;
            left: 38%;
            width: 22px;
            height: 10px;
            border: 2px solid rgb(60, 61, 71);
            border-radius: 50%;
            border-color: transparent transparent rgb(60, 61, 71) transparent;
            transition: width 0.2s ease-out, left 0.2s ease-out;

            &.talking {
                animation: talking 0.8s ease infinite;
            }

            @keyframes talking {
                from {
                    border-width: 2px;
                }

                to {
                    border-width: 3px;
                }
            }
        }
    }

    &:hover .mouth {
        width: 30px;
        left: 33%;
        animation-play-state: paused;
    }

    .bubble {
        align-self: flex-start;
        color: rgb(60, 61, 71);
        padding: 0.8em;
        max-width: 60%;
        border-radius: 0.3em;
        background-color: #fff;
        margin-left: 70px;
        margin-bottom: 20px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        border-top-left-radius: 0.1em;
        transform-origin: bottom;
        transform: skewX(0);
    }
}

@keyframes bounce {
    0% {
        top: 0px;
    }

    100% {
        top: 5px;
    }
}

.bouncing-loader {
    display: flex;
    margin-top: 20px;
    margin-left: 70px;

    div {
        width: 10px;
        height: 10px;
        background-color: rgb(60, 61, 71);
        border-radius: 50%;
        margin: 0.2rem;
        position: relative;
        animation-name: bounce;
        animation-duration: 0.6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease;

        &:nth-child(2) {
            animation-delay: 0.2s;
        }

        &:nth-child(3) {
            animation-delay: 0.4s;
        }
    }
}